<!-- Start Embeded Gallery Area -->
<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
<%= stylesheet_link_tag "dgw_gallery/dgw_gallery_style.css" %>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<% if !@gallery.gallery_images.blank? %>
    <div id="dgwGalleryIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <% @gallery.gallery_images.each_with_index do |gi, idx| %>
                <div  data-bs-interval="5000" class="carousel-item <%= (idx == 0)? "active" : nil %>">
                    <figure>
                        <%= image_tag gi.image.variant(resize_to_fill: [900, 500]), class: "img-fluid border-radius-xl" %>
                    </figure>
                    <figcaption class="blockquote-footer text-center">
                        <%= gi.caption %>
                    </figcaption>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="col-12 text-center">
        There Are No Slides to Display. Please add some.
    </div>
<% end %>
<!-- End Embeded Gallery Area -->
