<%= form_for @gallery do |form| %>
    <% if gallery.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
            <ul>
                <% gallery.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <section class="py-3 justify-content-center text-center">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-4 mx-auto">
                    <div class="input-group input-group-static mb-4">
                        <label>Gallery Name</label>
                        <%= form.text_field :title, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions ">
            <%= form.submit 'Create Gallery', class: 'btn btn-info border-radius-md' %>
        </div>
    </section>
<% end %>
