<!-- -------- START HEADER ------- -->
<header>
    <div class="page-header min-vh-25 bg-gradient-light"  style="background-image: url('<%= image_path "waves-white.svg" %>'); background-size: contain; background-repeat: repeat-x; background-color: black;" loading="lazy">
        <span class="mask bg-gradient-dark opacity-3"></span>
        <div class="d-block d-md-none min-vh-30"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto mt-6 text-center">
                    <h2 class="text-white mt-2">Manage Gallery</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="card card-body border-radius-xl blur shadow-blur mx-3 mx-md-4 mt-n5 overflow-visible">
    <!-- -------- START Features w/ image on left & title & text & 3 cols on soft background -------- -->
    <section class="py-3 d-sm-block d-block d-md-block">
        <div class="container">
            <div class="row mb-4 mt-n5">
                <div class="card card-body border-radius-xl col-12">
                    <div class="row text-center justify-content-center">
                        <div class="col-12 col-md-12">
                            <div class="btn-group" role="toolbar" aria-label="Basic example">
                                <div class="btn-group" role="toolbar" aria-label="Basic example">
                                    <%= link_to gallery_index_path, class: "text-decoration-none #{(@page == 'gallery')? 'text-danger' : 'text-navy'} mx-1 mx-md-5 position-relative overflow-visible", data: {"bs-container" => "body", "bs-toggle" => "popover", "bs-trigger" => "click hover focus", html: true, sanitize: false, "bs-placement" => "top", "bs-title" => "Pending Approval", "bs-content" => "Main profile images pending approval"} do%>
                                        <i class="far fa-chalkboard-teacher fs-1" ></i>
                                        <p class="small">Current Gallery</p>
                                    <% end %>
                                    <%= link_to gallery_add_path, class: "text-decoration-none #{(@page == 'add')? 'text-danger' : 'text-navy'} mx-1 mx-md-5 position-relative overflow-visible", data: {"bs-container" => "body", "bs-toggle" => "popover", "bs-trigger" => "hover focus", "bs-placement" => "top", "bs-title" => "Pending Approval", "bs-content" => "Porfolio / Work Example images pending approval"} do%>
                                        <i class="far fa-images fs-1" ></i>
                                        <p class="small">Add to Gallery</p>
                                    <% end %>
                                    <%= link_to gallery_upload_path, class: "text-decoration-none #{(@page == 'upload')? 'text-danger' : 'text-navy'} mx-1 mx-md-5 position-relative overflow-visible", data: {"bs-container" => "body", "bs-toggle" => "popover", "bs-trigger" => "hover focus", "bs-placement" => "top", "bs-title" => "Pending Approval", "bs-content" => "Members awaiting active and visible status"} do%>
                                        <i class="far fa-upload fs-1" ></i>
                                        <p class="small">Upload Set</p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-body border-radius-xl col-12">
                    <div class="row">
                        <% if @sets.count > 0 %>
                            <div class="container">
                                <div class="row d-none d-md-block border-radius-md pb-4 p-3 mx-sm-0 mx-1 position-relative">
                                    <div class="col-12 mx-auto">
                                        <div class=" mt-md-0 mt-5 border-radius-xl mb-4">
                                            <div class="card-header mt-3 border-radius-xl bg-transparent position-relative z-index-2  blur-shadow-image dark-shadow">
                                                <div class="row text-center mb-2">
                                                    <h4>Existing Gallery Slider</h4>
                                                </div>
                                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                                                    <div class="carousel-inner">
                                                        <% @sets.each_with_index do |set, idx| %>
                                                            <div  data-bs-interval="5000" class="carousel-item carousel-item-why <%= (idx == 0)? "active" : nil %>">
                                                                <div class="row col-md-12 mx-auto">
                                                                    <div class="col-md-6">
                                                                        <%= image_tag set.before.variant(resize_to_fill: [600, 400]), class: "img-fluid border-radius-xl" %>
                                                                    </div>
                                                                    <div class="col-md-6 ">
                                                                        <%= image_tag set.after.variant(resize_to_fill: [600, 400]), class: "img-fluid border-radius-xl" %>
                                                                    </div>
                                                                </div>
                                                                <div class="row col-md-12 justify-content-center">
                                                                    <figcaption class="blockquote-footer text-center">
                                                                        <%= set.caption %>
                                                                    </figcaption>
                                                                </div>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% else %>
                            <div class="col-12 text-center">
                                Current Gallery Slider is Empty
                            </div>
                        <% end %>
                    </div>
                    <div class="row mt-5 text-center justify-content-center">
                        <h4>Manage Current Slides</h4>
                    </div>
                    <!-- Start updated before and after photo area -->
                    <div class="row text-center mt-3 d-flex align-items-stretch">
                        <% if @sets.count > 0 %>
                            <% @sets.each do |set, idx| %>
                                <div class="col-12 col-md-6 mx-auto" id="<%= set.id %>">
                                    <div class=" mt-md-0 mt-5 border-radius-xl mb-4">
                                        <div class="card-header mt-3 mx-3 p-0 border-radius-xl p-2 bg-transparent position-relative z-index-2  blur-shadow-image dark-shadow">
                                            <div class="row">
                                                <div class="col-6">
                                                    <figure>
                                                        <%= image_tag set.before.variant(resize_to_fill: [300, 300]), class: "img-fluid border-radius-xl" %>
                                                        <figcaption>Before</figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col-6">
                                                    <figure>
                                                        <%= image_tag set.after.variant(resize_to_fill: [300, 300]), class: "img-fluid border-radius-xl" %>
                                                        <figcaption>After</figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="row text-center justify-content-center">
                                                <h5 class="text-center"><%= set.caption %></h5>
                                                <button type="button" class="w-auto mt-2 btn btn-sm btn-primary" onclick='removeFromGallery(<%= set.id %>)'>Remove from Gallery</button>
                                            </div>
                                        </div>
                                        <div class="card-body text-center">
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>
                            <div class="col-12 text-center">
                                There Are No Slides to Display. Please add some.
                            </div>
                        <% end %>
                    </div>
                    <!-- End updated before and after photo area -->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function removeFromGallery(id){
            $.ajax({
                type: 'PUT',
                url: '/gallery/remove_from_gallery/' + id,
                success: function(){
                    $("#"+id).hide('slow', function(){ $target.remove(); });
                }
            });

    }
</script>
